<div class="row page-titles">
    <div class="col-md-5 align-self-center">
      <h4 class="text-themecolor">Change Password</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
      <div class="d-flex justify-content-end align-items-center">
        <span >
            <button type="submit" class="btn btn-success" (click)="changePassword()">Update</button>
        </span>
       </div>
    </div>
  </div>

  <!-- edit driver route modal content -->

  <!-- /.modal -->

  <!-- sample modal content -->
  <!--  -->
  <!-- /.modal -->

  <!-- Row -->
  <div class="row" >
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body" >
          <form [formGroup]="changePasswordForm">
            <div class="form-body">
              <h3 class="card-title">Change Password</h3>
              <hr>
              <div class="row">
                  <div class="col-md-6">
                      <!-- <div class="form-group">
                      <label>Current Password<em>*</em></label>
                      <input type="password" formControlName="currentpwd" (change)="chkCrntPass(t.value)" class="input-field" #t autofocus placeholder="Current Password"
                      />
                      <p class="error" *ngIf="changePasswordForm.controls['currentpwd'].hasError('required') && submitted">
                          Current Password
                      </p>
                      <p class="error" *ngIf="passcheck">
                          Current Password not matched
                      </p>
                      </div> -->
                  </div>
                  <div class="col-md-6">&nbsp;</div>
                  <div class="col-md-6">
                      <div class="form-group">
                      <label> Enter new Passpord<em>*</em></label>
                      <input type="password" placeholder="Enter new Passpord" formControlName="password" class="form-control underline-input"
                          #pass maxlength="30" required/>
                      <p class="error form-control-feedback" *ngIf="changePasswordForm.controls['password'].hasError('required') && submitted">
                          Password is required
                      </p>
                      <p class="error form-control-feedback" *ngIf="changePasswordForm.controls['password'].hasError('minlength') && submitted">
                          Password lenght at least 6 digit
                      </p>
                      <p class="error form-control-feedback" *ngIf="changePasswordForm.controls['password'].hasError('maxlength') && submitted">
                          Password lenght max 30 digit
                      </p>
                      </div>
                  </div>

                  <div class="col-md-6">
                      <div class="form-group">
                      <label> Confirm Password<em>*</em></label>
                      <input type="password" placeholder="Confirm Password" formControlName="confirm_password"
                          class="form-control underline-input" #chngpass maxlength="30" required/>
                      <p class="error form-control-feedback" *ngIf="changePasswordForm.controls['confirm_password'].hasError('required') && submitted">
                          Confirm Password is required
                      </p>
                      <p class="error form-control-feedback" *ngIf="changePasswordForm.controls['confirm_password'].hasError('confirmError') && submitted">
                          Confirm password did not match
                      </p>
                      </div>
                  </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

