<app-loader [isLoading]="isLoading"></app-loader>
<div class="row page-titles">
  <div class="col-md-2 align-self-center">
    <h4 class="text-themecolor">Routes</h4>
  </div>
  <div class="col-md-7 align-self-center">
    <select id=""  class="form-control" [(ngModel)]='selectedLocation' (change)="onChange($event.target.value)">
        <option value=''>Select Location</option>
        <option *ngFor="let loc of locations;let i=index"  value={{loc._id}}>{{loc.name}}, {{loc.zone.formattedAddress}}</option>
    </select>
  </div>
  <div class="col-md-3 align-self-center text-right">
    <div class="d-flex justify-content-end align-items-center">
      <button type="button" class="btn btn-info d-none d-lg-block m-l-15" routerLink="/dashboard/routes/new"><i class="fa fa-plus-circle" ></i> Add New Route</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <!-- <h4 class="card-title">Data Export</h4> -->
        <div class="table-responsive m-t-40">
          <table class="table table-hover" #mf="mfDataTable" [mfData]="items" [mfRowsOnPage]="rowsOnPage" [mfActivePage]="activePage"
            [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder" (mfOnPageChange)="onPageChange($event)">
            <thead>
              <tr class="w-70">
                <th>
                  <mfDefaultSorter by="name">Routes</mfDefaultSorter>
                </th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody *ngIf="mf.data.length > 0">
              <ng-template ngFor let-item [ngForOf]="mf.data" let-i="index">
                <tr>
                  <td class="w-70 capitalize">
                      <a class='name-image' routerLink="/dashboard/routes/viewRoute/{{item._id}}">
                      <span class="list-enq-name">{{item.name}}</span>
                      </a>
                  </td>
                  <td class="center-align w-10">
                      <a title="Delete" [swal]="{showCancelButton: true,confirmButtonText: 'Yes',title: 'Are you sure that you want to delete Location '+ item.name +' ?',type: 'warning'}" (confirm)="removeRoute(item._id)"><button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button></a>
                    </td>
                </tr>
              </ng-template>
            </tbody>
          <tfoot *ngIf="mf.data.length > 0">
            <tr>
              <td colspan="6">
                <mfBootstrapPaginator [rowsOnPageSet]="rowsInTable" class="footer-page"></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
          <tfoot *ngIf="mf.data.length === 0">
            <tr>
              <td colspan="12" class="text-center">
                <label class="record-label">No record found </label>
              </td>
            </tr>
          </tfoot>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>

<swal #deleteSwal title='Are you sure that you want to delete this ?' type= 'warning' showCancelButton="true" confirmButtonText='Yes'></swal>

