.light-logo{height: 50px;}

.toggle-button{
    margin-left: 10px;
    cursor: pointer;
}
.toggle-button .sr-icon{
    width: 30px;
    height: 4px;
    background-color: #000;
    margin: 6px 0;
}


@media (max-width: 767px){
    .light-logo{
        height: auto;
        width: 90px;
    }
}