.home-banner{background-image:url(../../assets/images/home-banner.png);background-position:left top;background-repeat:no-repeat;background-size:cover;min-height:688px;padding-top:165px}
.home-banner .wrap575{max-width:575px;padding-top:80px}
.table-box,.table-box-cell{width:100%;height:100%}
.table-box{display:table}
.table-box-cell{display:table-cell;vertical-align:middle}
h1{padding-right:50px;color:#333;font-size:40px;font-weight:500}
h2{font-size:40px;font-weight:500}
.home-banner p{font-size:16px;line-height:24px;color:#333;margin-bottom:20px}
.home-banner a.learn-more{background-color:none; border: 1px solid #333; margin:0 6px 15px;display:inline-block;width:121px;height:40px;border-radius:30px;font-size:15px;color:#333;text-align:left;font-weight:500;line-height:40px; text-align: center;}
.home-banner a.signup{background-color:#333;margin:0 6px 15px;display:inline-block;height:40px;border-radius:30px;font-size:15px;color:#fff;text-align:left;font-weight:500;line-height:40px; text-align: center;padding:0 13px}
.home-banner a.learn-more:hover{background-color:#333; color: #fff;}
/* .home-banner a.app-store{background-image:url(../../assets/images/app-store.png)}
.home-banner a.play-store{background-image:url(../../assets/images/google-play.png)} */
.home-banner a small{font-size:11px;font-weight:300;display:block;padding-top:8px}
.app-screenshot{background-color:rgba(245,244,244,0.5);padding:50px 0 30px}
.title-format{color:#2C9984;font-weight:700;font-size:40px;padding-bottom:10px}
.text-format{line-height:22px;color:#333;font-weight:500}
.app-screenshot p{padding:0 10%}
.app-screenshot figure{margin-bottom:0}
.app-screenshot figure img{width:100%}
.our-partner{padding:80px 0}
.align-self-center{-webkit-align-self:center;align-self:center}
.our-partner p{padding-right:30px}
.about-content{padding:67px 0 20px}
.title-format span{color:#F2D481;background:#000;padding:0 10px}
.custom_ptag{width:85%;color:rgba(51,51,51,0.7);line-height:22px;font-size:14px;font-weight:500;margin:0 0 48px}
.custom_ptag a{color:#2C9984;text-decoration:underline}
.title_img{display:inline-block;width:100%;margin:0 0 18px}
.title_img i img{max-width:42px;max-height:31px}
.subtitle{font-size:20px;color:#333}
ul.timeline{padding:0;position:relative;margin:0;list-style:none}
.timeline > li{position:relative}
.timeline > li:first-child .centerDot{top:25%}
.timeline img{max-width:100%}
.timeline > li:first-child .timeline-panel h3{margin-top:16%}
.timeline > li:first-child:before{top:24%}
.timeline > li:last-child{margin-bottom:0}
.timeline > li:last-child:before{content:none}
.timeline > li:before,.timeline > li:after{content:" ";display:table}
.timeline > li:before{top:38%;bottom:-37%;position:absolute;content:" ";display:inline-block;margin-top:81px;border-radius:10px;width:6px;background-color:#e4e4e4;left:50%;margin-left:-.5px}
.timeline > li:after{clear:both}
.timeline > li > .timeline-panel{width:46%;background:#fff;float:left;padding:25px;position:relative}
.timeline-panel h3{margin-top:22%;color:#2C9984;font-weight:600;font-size:24px}
.timeline-panel p{color:rgba(51,51,51,0.7);font-weight:500;font-size:14px}
.bulletedList{padding:0;margin-left:20px}
.bulletedList > li{list-style-type:disc;padding:3px 5px}
.centerDot{height:64px;width:64px;background:none;border:10px #eee solid;border-radius:50%;-webkit-border-radius:50%;position:absolute;left:50%;top:38%;margin-left:-30px;text-align:center;color:#fff;font-size:24px;font-weight:700;line-height:42px}
.centerDot span{display:block;background:#333;height:100%;border-radius:50%;-webkit-border-radius:50%}
.timeline > li.timeline-inverted > .timeline-panel:before{border-left-width:0;border-right-width:15px;left:-15px;right:auto}
.timeline > li.timeline-inverted > .timeline-panel:after{border-left-width:0;border-right-width:14px;left:-14px;right:auto}
.timeline-panel.pull-right{float:right!important}
img{max-width:100%}


.gray-bg{ background: rgba(245, 244, 244, .5); padding-bottom: 0;}
.features{padding: 67px 0 0px; }
.all-features{ margin-top: 80px;}
.feature-list{ margin-bottom: 80px;}
.feature-list h5{ color: #2C9984; font-size: 24px; font-weight: bold;}
.feature-list h3{ color: #2C9984; font-size: 24px; font-weight: bold;}
.feature-list .image{ background: #fff; width: 86px; height: 86px; border-radius: 100%; display: flex; align-items: center; justify-content: center; border: 1px solid #E5DEDE;}


.about-watch-video{padding:98px 0 150px;background-color:#343334;}
.video-block-content{ margin-top: 80px;}
.about-watch-video figure{margin-bottom:0;position: relative; width: 254px; margin: 0 auto;}
.about-watch-video figure img{width:100%}
.about-watch-video a{display:block;width:61px;height:61px;position:absolute;left:0; right: 0; margin: 0 auto; bottom:-90px;}
.our-partner {padding:80px 0; background-color:#f9f9f9;}
.our-partner p{padding-right:30px}
.title-format{color:#2C9984;font-weight:700;font-size:40px;padding-bottom:5px; width: 100%;}
.white-color{ color: #fff;}
.text-format{line-height:22px;color:#333;font-weight: 500;}
.white-color-alpha{color:rgba(255, 255, 255, .7) }


 /* .about-for-rider{padding:80px 0 400px; background-image:url(../../assets/images/home-for-riders.png);background-position:right 240px;background-repeat:no-repeat;background-size: 63%}
.title-format{color:#2C9984;font-weight:700;font-size:40px;padding-bottom:10px}
.text-format{line-height:22px;color:rgba(51,51,51,0.7);font-weight: 500;}
.about-for-driver{padding:75px 0 0;}
.about-for-driver figure{margin-bottom:0;margin-top:72px;}
.about-for-driver figure img,.about-watch-video figure img{width:100%}
.align-self-center{-webkit-align-self:center;align-self:center} */


.shuttle-operator-benifits{ margin-top: 25px;}
.shuttle-operator-benifits .row .col{ min-width: 180px;}
.shuttle-operator-benifits .step-count{border: 1px solid rgba(51, 51, 51, .08); padding: 5px; display: inline-block; border-radius: 100%;}
.shuttle-operator-benifits .step-count span{ background: #333333; color: #fff; border-radius: 100%; text-align: center; width: 28px; height: 28px; display: inline-block; line-height: 28px;}
.shuttle-operator-benifits .icon{background: #F6CF65; width: 83px; height: 83px; line-height: 83px; text-align: center; border-radius: 100%; margin: 30px auto;}
.shuttle-operator-benifits .desc{ margin-top: 30px;}
.shuttle-operator-benifits .desc p{ color: #333333; font-size: 15.2px;}

.gray-bg{ background: rgba(245, 244, 244, .5); padding-bottom: 0;}
.driver-benifits{ margin-top: 40px;}
.driver-benifits .block{ background: #fff; border: 1px solid #E5DEDE; padding: 15px 20px; position: relative; min-height: 275px;}
.driver-benifits .block .step-count{ position: absolute; left: 0; right: 0; top: -20px; border:none;}
.driver-benifits .block .icon{ background: none; height: 100px; width: 100px;}
.driver-benifits .driver-benifits-screens{ margin-top: 72px;}
.driver-benifits .driver-benifits-screens img{ max-width: 100%;}

.passengers-benefits .icon{ background: none; height: 63px; width: auto; line-height: normal;}
.passengers-benefits .bdr-right{position: relative; }
.passengers-benefits .bdr-right::after{ position: absolute; top: 50%; transform: translateY(-50%); right: -15px; background: #ddd; height: 50px; width: 1px; content: ""; opacity: .5;}

.modal-dialog {

  /* For responsive */
  max-width:93%;
}
.modal-dialog .close span{ float: right; text-align: right; padding-right: 15px;}
@media(max-width:1024px){

  .home-banner a.learn-more{ width: 100%;}
.home-banner a.signup{ width: 100%; font-size: 13px;}
}
@media(max-width:991px) {
  h1{font-size:28px}
  h2{font-size:22px}
  .custom_ptag{width:100%}
  .home-banner a{margin:0 2px 15px}
  .centerDot{height:50px;width:50px;border:6px #eee solid;margin-left:-23px;font-size:19px;line-height:37px;top:35%}
  .timeline > li:before{top:26%;bottom:-35%}
  .timeline-panel h3{margin-top:13%;font-size:16px}
  .timeline-panel p{font-size:12px}
  .timeline > li:first-child:before{top:18%;bottom:-30%}
  .about-for-rider{padding-bottom:80px;background-image:none; text-align: center;}

  .driver-benifits .block{ margin-bottom: 30px;}
  .passengers-benefits .bdr-right::after{ content: none;}
}
@media (max-width: 767px) {
.hide-sm{display:none}
.home-banner .wrap575{padding-top:0;text-align:center}
h1{padding-right:0}
h2{font-size:22px}
.home-banner{min-height:530px}
.centerDot{top:30px;left:0}
.timeline > li:first-child .centerDot{top:18px}
.timeline > li:before{top:70px;bottom:-30px;margin-top:20px;left:0}
.timeline > li:first-child:before{top:55px;bottom:-30px}
.timeline > li:first-child .timeline-panel h3{margin-top:0}
.timeline > li .timeline-panel h3{margin-top:0}
ul.timeline{padding:0;margin:0}
ul.timeline:before{left:9px}
.timeline > li + li{margin-top:10px;margin-bottom:10px}
ul.timeline > li > .timeline-panel{width:calc(100% - 45px);width:-moz-calc(100% - 45px);width:-webkit-calc(100% - 45px);padding:15px;float:right}
.bulletedList > li{padding-left:0;padding-right:0}
.home-banner p,.text-format,.custom_ptag{text-align:left!important}
.text-format br{display:none}
.title-format{ font-size: 30px;}

iframe{ width: 100%;}
}
@media(max-width:575px) {
.title_img,.subtitle,.custom_ptag,.about-content .title-format{text-align:center}
.centerDot{left:25px;height:35px;width:35px;border:4px #eee solid;margin-left:-23px;font-size:14px;line-height:27px}
.timeline > li:first-child:before{top:21px}
.timeline > li:before{left:18px;margin-top:40px;width:4px;top:37px}
.home-banner{font-size:12px;line-height:20px;padding-top:130px;min-height:450px}
.home-banner a{width:135px;height:35px;font-size:12px;line-height:13px;background-size:20px}
.home-banner a small{padding-top:4px}
h1{font-size:22px}
h2{font-size:22px}
.video-block-content{ margin-top: 0;}
.about-watch-video figure{ margin: 20px auto;}
}
