<!-- Header -->
<app-main-header></app-main-header>

<!-- Main wrapper -->
<div class="about-banner">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-center">
        <h2 class="banner-title">Riders</h2>
        <p class="banner-content">By simply installing the CircularDrive app, new users can simply search for their preferred shuttle provider; fill in the location and destination, and book a ride. Utilizing an intuitive algorithms, CircularDrive sends your booking request to one or more suitable driver, ensuring you get a ride in little to no time. </p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="about-for-rider">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-10 offset-sm-1  col-lg-7 col-xl-5">
        <h2 class="title-format">Booking Request</h2>
        <p class="text-format">The booking request is sent to one or more shuttle drivers, based on CircularDrive’s built-in intelligence to provide the best experience. As soon as driver accepts the request the rider can see the real-time view of vehicle to have an accurate estimated arrival time, along with pictures of the driver and vehicle.</p>
      </div>
    </div>
  </div>
</div> -->

<section class="about-content passengers-benefits driver-benifits gray-bg">
        <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="title-format text-center">Benefits to Riders</h2>
                    </div>
                </div>
                <div class="shuttle-operator-benifits">
                    <div class="row">
                        <div class="col text-center bdr-right">
                            <div class="step-count">
                                <span>1</span>
                            </div>
                            <div class="icon">
                                <img src="../../assets/images/request-rides-icon.png" alt="request-rides-icon" />
                            </div>
                            <div class="desc">
                                <p>Easily request rides</p>
                            </div>
                        </div>
                        <div class="col text-center bdr-right">
                                <div class="step-count">
                                    <span>2</span>
                                </div>
                                <div class="icon">
                                    <img src="../../assets/images/track-icon.png" alt="track-icon" />
                                </div>
                                <div class="desc">
                                    <p>Track shuttle arrival with GPS</p>
                                </div>
                            </div>
                            <div class="col text-center bdr-right">
                                    <div class="step-count">
                                        <span>3</span>
                                    </div>
                                    <div class="icon">
                                        <img src="../../assets/images/alert-icon.png" alt="alert-icon" />
                                    </div>
                                    <div class="desc">
                                        <p>Receive delay alerts</p>
                                    </div>
                                </div>
                                <div class="col text-center bdr-right">
                                        <div class="step-count">
                                            <span>4</span>
                                        </div>
                                        <div class="icon">
                                            <img src="../../assets/images/safety-icon-green.png" alt="safety-icon" />
                                        </div>
                                        <div class="desc">
                                            <p>Safety features (Driver photo, etc.)</p>
                                        </div>
                                    </div>
                                    <div class="col text-center">
                                            <div class="step-count">
                                                <span>5</span>
                                            </div>
                                            <div class="icon">
                                                <img src="../../assets/images/chat-icon-green.png" alt="chat-icon" />
                                            </div>
                                            <div class="desc">
                                                <p>Chat with dispatch</p>
                                            </div>
                                        </div>
                    </div>
                </div>
            </div>
</section>

<section class="how_we_work">
  <div class="container">
      <div class="row">
          <div class="col-sm-12">
                  <h2 class="title-format text-center">How we work</h2>
                  <p class="text-format text-center">Using CircularDrive is as easy as it gets. With a user friendly interface, booking a shuttle is simply a question of clicking a few times and having a vehicle ride out to your location. </p>
              <ul class="timeline listNone">
                  <li>
                      <div class="timeline-panel">
                          <h3>Select Shuttle Provider</h3>
                          <p>Choose from our list of vetted and approved shuttle providers. </p>
                      </div>
                      <div class="centerDot"><span>1</span></div>
                      <div class="timeline-panel pull-right">
                              <img src="../../assets/images/riders-select-shuttle.png" alt="mobile screenshot" />
                      </div>
                  </li>
                  <li class="timeline-inverted">
                      <div class="timeline-panel">
                          <img src="../../assets/images/riders-book-shuttle.png" alt="map - circular drive" />
                      </div>
                      <div class="centerDot"><span>2</span></div>
                      <div class="timeline-panel pull-right">
                      <h3>Book Shuttle</h3>
                      <p>Select a time, input number of passed, and enter your location and destination. </p>
                      </div>
                  </li>
                  <li>
                      <div class="timeline-panel">
                          <h3>Track Shuttle</h3>
                          <p>Monitor your shuttle in real-time for estimated time of arrival and route. You can cancel the ride or choose to speak with an administrator to sort out any issues. </p>
                      </div>
                      <div class="centerDot"><span>3</span></div>
                      <div class="timeline-panel pull-right">
                              <img src="../../assets/images/riders-chat-with-admin.png" alt="mobile screenshot" />
                      </div>
                  </li>
                  <li class="timeline-inverted">
                      <div class="timeline-panel">
                          <img src="../../assets/images/about-icon/complete-ride.png" alt="mobile screenshot" />
                      </div>
                      <div class="centerDot"><span>4</span></div>
                      <div class="timeline-panel pull-right">
                      <h3>Successful Completion </h3>
                      <p>With highly trained and professional drivers, you will arrive at your destination promptly, with no hassles or difficulties along the way. Upon completion of ride, you can rate your driver by leaving feedback with your app. </p>
                      </div>
                  </li>
              </ul>
          </div>
      </div>
 </div>
</section>

<!-- Footer -->
<app-main-footer></app-main-footer>
