<!-- Header -->
<app-main-header></app-main-header>

<!-- Main wrapper -->
<div class="about-banner">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-center">
        <h2 class="banner-title">Our trusted partner</h2>
        <p class="banner-content">CircularDrive is a cutting-edge platform where shuttle providers and transportation companies are transformed into on-demand mobile app-based services like the popular ridesharing apps travelers already use.</p>
      </div>
    </div>
  </div>
</div>

<div class="about-watch-video">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 align-self-center video-block-content">
        <h2 class="title-format white-color">Streamlined Shuttles. <br>Satisfied Customers.</h2>
        <p class="text-format white-color-alpha">Streamlined shuttles mean smoother operations, better customer service and greater efficiency.</p>
        <p class="text-format white-color-alpha">We make life easier for businesses, customers, dispatchers and drivers by making it dead simple to call a shuttle and be picked up.</p>
      </div>
      <div class="col-12 col-sm-6">
        <figure>
          <!-- <img src="../../assets/images/about-video-frame.png" alt="video-frame"> -->
          <img src="../../assets/images/logo-vertical.png" alt="circular drive logo">

          <a href="javascript:;" data-toggle="modal" data-target="#videoModalPopup"><img src="../../assets/images/about-video-play-button.png" alt="play button"></a>
        </figure>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="videoModalPopup" tabindex="-1" role="dialog" aria-labelledby="videoModalPopupLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <iframe width="{{innerWidth}}" height="{{innerHeight}}" src="https://www.youtube.com/embed/DWbGExqCZ1o?start=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
      </div>
    </div>
  </div>
</div>


<section class="about-content">
  <div class="container">
      <div class="row">
          <div class="col-sm-12">
              <h2 class="title-format text-center">How It Works</h2>
          </div>
      </div>
      <div class="shuttle-operator-benifits">
          <div class="row">
              <div class="col text-center step-icon">
                  <div class="step-count">
                      <span>1</span>
                  </div>
                  <div class="icon">
                      <img src="../../assets/images/work1.png" alt="image" />
                  </div>
                  <div class="desc">
                      <p>Register as a Partner on circulardrive.com</p>
                  </div>
              </div>
              <div class="col text-center step-icon">
                      <div class="step-count">
                          <span>2</span>
                      </div>
                      <div class="icon">
                          <img src="../../assets/images/work2.png" alt="image" />
                      </div>
                      <div class="desc">
                          <p>Add Shuttles, Drivers and Routes</p>
                      </div>
                  </div>
                  <div class="col text-center step-icon">
                          <div class="step-count">
                              <span>3</span>
                          </div>
                          <div class="icon">
                              <img src="../../assets/images/work3.png" alt="image" />
                          </div>
                          <div class="desc">
                              <p>Activate Subscription</p>
                          </div>
                      </div>
                      <div class="col text-center step-icon">
                              <div class="step-count">
                                  <span>4</span>
                              </div>
                              <div class="icon">
                                  <img src="../../assets/images/work4.png" alt="image" />
                              </div>
                              <div class="desc">
                                  <p>Inform customers about app</p>
                              </div>
                          </div>
                          <div class="col text-center">
                                  <div class="step-count">
                                      <span>5</span>
                                  </div>
                                  <div class="icon">
                                      <img src="../../assets/images/work5.png" alt="image" />
                                  </div>
                                  <div class="desc">
                                      <p>Save time and money!</p>
                                  </div>
                              </div>
                              <div class="register-btn">
                                  <a routerLink="/register" class="register-now" ><span>Register Now</span></a>
                                    <!-- <button class="register-now">Register Now</button> -->
                              </div>
          </div>
      </div>
  </div>
</section>
<section class="features gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="title-format text-center">Benefits to Shuttle Providers</h2>
            </div>
        </div>
        <div class="row all-features">
            <div class="col-lg-6">
                <div class="feature-list">
                    <div class="media">
                      <div class="image mr-3">
                          <img src="../../assets/images/phone-green.png" alt="call icon - circular drive">
                      </div>
                        <div class="media-body">
                          <h3 class="mt-0">Eliminate 90+% of phone call requests</h3>
                          Book Shuttles, drivers accept, admin provides chat support.
                        </div>
                      </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="feature-list">
                    <div class="media">
                        <div class="image mr-3">
                            <img src="../../assets/images/gas-green.png" alt="Generic placeholder image">
                        </div>
                        <div class="media-body">
                          <h3 class="mt-0">Save gas from unnecessary trips</h3>
                          Send shuttles only when customers are waiting. Find customers easier and faster.
                        </div>
                      </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="feature-list">
                    <div class="media">
                        <div class="image mr-3">
                            <img src="../../assets/images/track-green.png" alt="Generic placeholder image">
                        </div>
                        <div class="media-body">
                          <h3 class="mt-0">Track drivers, vehicles, riders, and wait times</h3>
                          See your shuttle operations and take control with admin tools and reports.
                        </div>
                      </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="feature-list">
                    <div class="media">
                        <div class="image mr-3">
                            <img src="../../assets/images/feedback-green.png" alt="Generic placeholder image">
                        </div>
                        <div class="media-body">
                          <h3 class="mt-0">Use feedback and analytics to improve efficiency</h3>
                          Optimize driver schedules, routes and more with keen insights into shuttle operations.
                        </div>
                      </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="feature-list last-child">
                    <div class="media">
                        <div class="image mr-3">
                            <img src="../../assets/images/chat-green.png" alt="Generic placeholder image">
                        </div>
                        <div class="media-body">
                          <h3 class="mt-0">Chat with drivers and riders</h3>
                          Safer communication tools for drivers. More convenient service for customers.
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="services-of-patner">
  <div class="container text-center">
    <div class="row">
      <h2 class="title-format text-center">CircularDrive takes care of rest - Ready, Set, Go!</h2>
      <p class="col-md-12 col-lg-12 text-format" [innerHTML]="serviceHeading"></p>
    </div>
  </div>

  <div class="container-fuild text-center">
    <div class="row">
      <div class="col-12 text-center">
        <ul class="nav nav-tabs" id="partnerTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="partner-tab" data-toggle="tab" href="#partner" role="tab" aria-controls="partner" aria-selected="true" (click)="changeTab('Partner');">Partner</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="driver-tab" data-toggle="tab" href="#driver" role="tab" aria-controls="driver" aria-selected="false" (click)="changeTab('Driver');">Driver</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="tab-content" id="myTabContent">
          <!-- Partner -->
          <div class="tab-pane fade show active" id="partner" role="tabpanel" aria-labelledby="partner-tab">
            <ul class="timeline listNone">
              <li>
                <div class="timeline-panel">
                  <h3>Track Driver Location</h3>
                  <p>Ability to view current location of all the active vehicles/drivers in your company in a single view.</p>
                </div>
                <div class="centerDot"><span>1</span></div>
                <div class="timeline-panel pull-right">
                  <img src="../../assets/images/partner-track-driver-location-v1.png" alt="track driver circular drive" />
                </div>
              </li>

              <li class="timeline-inverted">
                <div class="timeline-panel">
                  <img src="../../assets/images/partner-chat-with-driver.png" alt="chat with driver - circular drive" />
                </div>
                <div class="centerDot"><span>2</span></div>
                <div class="timeline-panel pull-right">
                  <h3>Chat With Drivers and Riders</h3>
                  <p>Chat with the driver through app, no need to make phone calls.</p>
                </div>
              </li>
              <li>
                <div class="timeline-panel">
                  <h3>Check and Verify Riders Details</h3>
                  <p>Check all the riders who have requested for ride, list their wait time and current status, also chat with them if needed</p>
                </div>
                <div class="centerDot"><span>3</span></div>
                <div class="timeline-panel pull-right">
                    <img src="../../assets/images/partner-check-all-ride-details-v1.png" alt="shuttle, ride, car details" />
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-panel">
                  <img src="../../assets/images/partner-chat-group-v1.png" alt="chat circular drive" />
                </div>
                <div class="centerDot"><span>4</span></div>
                <div class="timeline-panel pull-right">
                  <h3>Create A Group</h3>
                  <p>If you have many drivers in service, create a chat group and collaborate.</p>
                </div>
              </li>
              <li>
                <div class="timeline-panel">
                  <h3>View Reports </h3>
                  <p>View the business activity by driver, location, rider wait time and more. Find more metrics to save time and money.</p>
                </div>
                <div class="centerDot"><span>5</span></div>
                <div class="timeline-panel pull-right">
                  <img src="../../assets/images/partner-reports.png" alt="map - circular drive" />
                </div>
              </li>
            </ul>
          </div>

          <!-- Driver -->
          <div class="tab-pane fade" id="driver" role="tabpanel" aria-labelledby="driver-tab">
              <ul class="timeline listNone">
                <li>
                  <div class="timeline-panel">
                    <h3>Activate your Shuttle</h3>
                    <p>Simple way to resume your service by changing the status in Active so you receive rider requests. End of the day, deactive and all pending ride requests to another driver.</p>
                  </div>
                  <div class="centerDot"><span>1</span></div>
                  <div class="timeline-panel pull-right">
                    <img src="../../assets/images/partner1-1.png" alt="Activate your Shuttle" />
                  </div>
                </li>

                <li class="timeline-inverted">
                  <div class="timeline-panel">
                    <img src="../../assets/images/partner1-2.png" alt="Accept Requests From Riders" />
                  </div>
                  <div class="centerDot"><span>2</span></div>
                  <div class="timeline-panel pull-right">
                    <h3>Accept Requests From Riders</h3>
                    <p>Get notifications when rider requests for service, accept all the passengers or pass on to next driver if the shuttle is full</p>
                  </div>
                </li>
                <li>
                  <div class="timeline-panel">
                    <h3>Add New passenger</h3>
                    <p>It is easy to add new riders if they haven't booked through CircularDrive app, so it helps to capture the productivity</p>
                  </div>
                  <div class="centerDot"><span>3</span></div>
                  <div class="timeline-panel pull-right">
                      <img src="../../assets/images/partner1-3.png" alt="Add New passenger" />
                  </div>
                </li>
                <li class="timeline-inverted">
                  <div class="timeline-panel">
                    <img src="../../assets/images/parnter1-4.png" alt="Track the ride" />
                  </div>
                  <div class="centerDot"><span>4</span></div>
                  <div class="timeline-panel pull-right">
                    <h3>Track the ride</h3>
                    <p>As a driver you can see the passenger location and drive there in a most efficient route.</p>
                  </div>
                </li>
              </ul>


          </div>
          <!-- -->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="packages-main">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="title-format text-center">Features and Benefits</h2>
            </div>
        </div>
        <div class="row packages">
            <div class="col-sm-12 col-md-6">
                <div class="package standard-package">
                    <div class="heading">
                        <span>Standard Edition</span>
                    </div>
                    <div class="offer">
                        <span>Free</span>
                    </div>
                    <div class="package-details">
                        <div class="detail">
                            <div class="heading">
                                <span>Rider</span>
                            </div>
                            <div class="list">
                                <ul>
                                    <li><span>Rider finding the shuttle from mobile app</span></li>
                                    <li><span>No acceptance from driver, initiate chat session with admin</span></li>
                                    <li><span>Rate the driver and service View ride trip history</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="detail">
                            <div class="heading">
                                <span>Drive</span>
                            </div>
                            <div class="list">
                                <ul>
                                    <li><span>Driver enable/disable service</span></li>
                                    <li><span>Driver accepting the ride request</span></li>
                                    <li><span>On driver change notification to riders and ride requests moving to next driver</span></li>
                                    <li><span>On vehicle change, notification to riders</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="detail">
                            <div class="heading">
                                <span>Admin</span>
                            </div>
                            <div class="list">
                                <ul>
                                    <li><span>Admin dashboard for current stutus of passengers </span></li>
                                    <li><span>Admin - Add/Edit the driver,vehicles </span></li>
                                    <li><span>Admin - Generate access codes </span></li>
                                    <li><span>Admin - enable /disable service of driver</span></li>
                                </ul>
                            </div>
                        </div>
                        <p class="note">Email and chat support during standard business hours ( 9am to 6pm)</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="package gold-package">
                    <div class="heading">
                        <span>Gold Package</span>
                    </div>
                    <div class="header">
                        <div class="qty text-center">
                            <span>Up to 5 shuttles</span>
                        </div>
                        <div class="price text-center">
                            <span><sup>$</sup>99/month</span>
                        </div>
                        <div class="support text-center">
                            <span>Contact support for special pricing for more than 5 shuttles <br>and multiple locations. </span>
                        </div>
                    </div>
                    <div class="package-details">
                        <div class="detail">
                            <div class="heading">
                                <span>Same as Standard Edition plus</span>
                            </div>
                            <div class="list">
                                <ul>
                                    <li><span>On shuttle selection display partner company logo on the page</span></li>
                                    <li><span>If rider wait time is “long”, Admin initiates chat with rider </span></li>
                                    <li><span>Custom message to riders (traffic / stop location change) </span></li>
                                    <li><span>Group Chat with drivers</span></li>
                                    <li><span>Generate monthly report on performance metrics </span></li>
                                    <li><span>Ability to retrieve the driver ratings </span></li>
                                    <li><span><b>Support : Phone call / Email / chat on 24/7</b> </span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section class="app-screenshot text-center" *ngIf="selectedTab === 'Driver'">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <h2 class="title-format">App Screenshot</h2>
              <figure><img src="../../assets/images/partner1-5.png" alt="app screenshot"></figure>
          </div>
      </div>
  </div>
</section>

<!-- need to add partners once client will have and client requests to add so -->

<!-- <section class="our-partner" [ngClass]="{'our-partner-screenshot': selectedTab === 'Driver'}">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 align-self-center">
          <h2 class="title-format">OUR PARTNERS</h2>
          <p class="text-format">CircularDrive is proud to collaborate with established shuttle providers, transport companies, and hotels to help streamline and ease their conveyance of passengers. All partners are well better and have been proven to be reliable, trustworthy service providers; hence our partnership with them. </p>
      </div>
      <div class="col-12 col-md-4 col-md-6">
          <figure><img src="../../assets/images/social-partner.svg" width="441" height="351" alt="app screenshot"></figure>
      </div>
    </div>
  </div>
</section> -->

<!-- Footer -->
<app-main-footer></app-main-footer>
