<!-- Header -->
<app-main-header></app-main-header>

<!-- Main wrapper -->
<div class="about-banner">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-center">
        <h2 class="banner-title">Why We are best ?</h2>
        <p class="banner-content">CircularDrive is a cutting-edge platform where shuttle providers and transportation companies are transformed into on-demand mobile app-based services like the popular ridesharing apps travelers already use.</p>
      </div>
    </div>
  </div>
</div>

<div class="slide-crousal-frame">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content-frame">
          <figure><img src="../../assets/images/about-icon/track-shuttle.svg" alt="Track Shuttle" width="42" height="37"/></figure>
          <h4>Track Shuttle</h4>
          <p>Keep an eye on your drivers and vehicles with our geolocation feature. With this feature you can monitor driver activity, for quality assurance purposes. </p>
        </div>
      </div>
    </div>

    <div class="row pad-top60">
      <!-- 1 -->
      <div class="col-12 col-lg-4">
        <div class="content-frame">
          <figure><img src="../../assets/images/about-icon/inactive-Shuttle.svg" alt="Book Shuttle" width="49" height="41"/></figure>
          <h4>Book Shuttle</h4>
          <p>Get a ride in little to no time with a simple click on your mobile app. See a list of available rides and choose the one closest to you. </p>
        </div>

        <div class="content-frame">
          <figure><img src="../../assets/images/about-icon/Reward.svg" alt="Rewards" width="30" height="32"/></figure>
          <h4>Rewards</h4>
          <p>Tap into our inbuiltreward system, with every ride or task you complete with CircularDrive</p>
        </div>
      </div>
      <!-- 2 -->
      <div class="col-12 col-lg-4 order-lg-12">
        <div class="content-frame float-right">
          <figure><img src="../../assets/images/about-icon/chat-with-admin.svg" alt="Chat With Admin" width="40" height="35"/></figure>
          <h4>Chat With Admin</h4>
          <p>Directly chat with shuttle provider if driver rejects the ride or does not respond in time.</p>
        </div>

        <div class="content-frame float-right">
          <figure><img src="../../assets/images/about-icon/customer-support.svg" alt="24x7 Customer Help" width="32" height="32"/></figure>
          <h4>24x7 Customer Help</h4>
          <p>Speak with our capable team of operators for enquiries, complaints, and all other forms of correspondence. We appreciate any feedback that helps improve the service we deliver to you. </p>
        </div>
      </div>
      <!-- 3 -->
      <div class="col-12 col-lg-4 order-lg-1 text-center">
        <div class="sider-frame">
          <div class="slide-show">
            <slideshow [imageUrls]="imageUrlArray" [showDots]="true"></slideshow>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- need to add reviews once client requests to add -->

<!-- <section class="testimonails">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="title-format">User Review</h2>
        <p class="text-format">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum</p>
      </div>
    </div>
  </div>
</section> -->

<!-- Footer -->
<app-main-footer></app-main-footer>
