.btn-succ{margin-top: 30px;}
.mrg-left{margin-left: 15px;margin-top: 10px !important;display: flex;}
.btn-del{display: contents !important;}
.btn-outline-danger:hover {color:#e46a76;}
.del-sign{margin-top: 3px;margin-left: 10px;}
.mrg-btm{margin-bottom: 100px;}
