<!-- Header -->
<app-main-header></app-main-header>

<!-- Main wrapper -->
<div class="about-banner">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-center">
        <h2 class="banner-title">ABOUT US</h2>
        <p class="banner-content">CircularDrive was created to help shuttle providers and transportation companies streamline their operations—providing ease and convenience to riders, and boosting the company’s reputation and income generation in the process. </p>
        <p class="banner-content">CircularDrive is great for  the rider, giving them a single app for booking shuttles from any of our registered partners - airports, hotels, parking lots, and special events shuttles.</p>
        <p class="banner-content">The simple platform gives shuttle providers an easy and agile onboarding process, with a single view of overall operations</p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="our-team my-team">
  <div class="container">
    <div class="row">
      <div class="heading w-100">
          <h2 class="banner-title text-center">My Team</h2>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="team-block text-center">
          <div class="image">
              <img src="../../assets/images/AyyappanK.jpg" alt="AyyappanK">
          </div>
          <div class="title">
            <h3>Ayyappan Keddal</h3>
          </div>
          <div class="desig">
            <h3>Founder</h3>
          </div>
          <div class="desc">
            <p><span>Ayyappan has been working in IT industry over 15 years and implemented end to end integration and business process...</span></p>
          </div>
          <div class="read-more">
              <button _ngcontent-c13="" class="btn btn-block btn-lg btn-info btn-rounded" data-toggle="modal" data-target="#ayyappankModalPopup">Read More</button>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
          <div class="team-block text-center">
            <div class="image">
                <img src="../../assets/images/VenkatPic.jpg" alt="VenkatPic">
            </div>
            <div class="title">
              <h3>Venkat Bala</h3>
            </div>
            <div class="desig">
              <h3>CTO</h3>
            </div>
            <div class="desc">
              <p><span>Venkat Bala is the CTO (Chief Technology Officer) for Circular Drive. As the CTO, he advises and influences the strategic IT direction of...</span></p>
            </div>
            <div class="read-more">
                <button _ngcontent-c13="" class="btn btn-block btn-lg btn-info btn-rounded" data-toggle="modal" data-target="#venkatpicModalPopup">Read More</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="team-block text-center">
              <div class="image">
                  <img src="../../assets/images/JoeyFlores.jpg" alt="JoeyFlores">
              </div>
              <div class="title">
                <h3>Joey Flores</h3>
              </div>
              <div class="desig">
                <h3>Head - Business Development</h3>
              </div>
              <div class="desc">
                <p><span>Joey Flores has 20 years of experience across eight startups, including three successful acquisitions. As co-founder and CEO of Earbits...</span></p>
              </div>
              <div class="read-more">
                  <button _ngcontent-c13="" class="btn btn-block btn-lg btn-info btn-rounded" data-toggle="modal" data-target="#joeyfloresModalPopup">Read More</button>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
              <div class="team-block text-center">
                <div class="image">
                    <img src="../../assets/images/KatySperry.jpg" alt="KatySperry">
                </div>
                <div class="title">
                  <h3>Katy Sperry</h3>
                </div>
                <div class="desig">
                  <h3>Strategic Sales Advisor</h3>
                </div>
                <div class="desc">
                  <p><span>Katy is a business strategist and social entrepreneur based in San Diego, California. She has worked on growth strategy and...</span></p>
                </div>
                <div class="read-more">
                    <button _ngcontent-c13="" class="btn btn-block btn-lg btn-info btn-rounded" data-toggle="modal" data-target="#katysperryModalPopup">Read More</button>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="team-block text-center">
                <div class="image">
                    <img src="../../assets/images/chris-frazier.jpg" alt="chrisfrazier">
                </div>
                <div class="title">
                  <h3>Chris Frazier</h3>
                </div>
                <div class="desig">
                  <h3>Director of Sales</h3>
                </div>
                <div class="desc">
                  <p><span>With over 25+ years of Sales and Marketing experience, Chris has helped more than 500 small businesses reach their goals....</span></p>
                </div>
                <div class="read-more">
                    <button _ngcontent-c13="" class="btn btn-block btn-lg btn-info btn-rounded" data-toggle="modal" data-target="#chrisFrazierModalPopup">Read More</button>
                </div>
              </div>
            </div>
    </div>
  </div>
</div> -->
<div class="about-watch-video">
  <div class="container">
    <div class="row">
      <!-- <div class="col-12 col-sm-6 align-self-center mr-bottom-50 d-block d-sm-none">
        <h2 class="title-format">Watch the video</h2>
        <p class="text-format">Apps that have the power to transform workflows, improve client relationships, and boost your productivity.</p>
      </div> -->
      <div class="col-12 col-sm-6">
        <!-- <figure>
          <img src="../../assets/images/about-video-frame.png" alt="video-frame">
          <img src="../../assets/images/about-video-frame.png" alt="video-frame">
          <a href="javascript:;" data-toggle="modal" data-target="#videoModalPopup"><img src="../../assets/images/about-video-play-button.png" alt="play button"></a>
        </figure> -->
      </div>
      <!-- <div class="col-12 col-sm-6 align-self-center d-none d-sm-block">
        <h2 class="title-format">Watch the video</h2>
        <p class="text-format">Apps that have the power to transform workflows, improve client relationships, and boost your productivity.</p>
      </div> -->

    </div>
    <!-- Modal -->
    <!-- <div class="modal fade" id="videoModalPopup" tabindex="-1" role="dialog" aria-labelledby="videoModalPopupLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="video">
              <video width="100%" height="500" controls>
                  <source src="../../assets/videos/CircularDrive-Partner-Video.mp4" type="video/mp4">
                </video>
          </div>
        </div>
      </div>
    </div> -->

    <div class="modal fade our-team myteamPopup" id="ayyappankModalPopup" tabindex="-1" role="dialog" aria-labelledby="ayyappankModalPopup" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="team-block text-center">
                <div class="image">
                    <img src="../../assets/images/AyyappanK.jpg" alt="AyyappanK">
                </div>
                <div class="title">
                  <h3>Ayyappan Keddal</h3>
                </div>
                <div class="desig">
                  <h3>Founder</h3>
                </div>
                <div class="desc">
                  <p>Ayyappan has been working in IT industry over 15 years and implemented end to end integration and business process management solutions for several fortune 100 companies. Grown up in a business family, he has in depth knowledge in running business in Textile, Transportation and affiliate marketing industry and his passion always been coming with a product/service to impact positively. He brings out the best in people and create harmony and team spirit to deliver any challenges presented. He has a vision of making CircularDrive a global service platform for free shuttle services to add tremendous value to people, shuttle providers and investors.</p>
                </div>
              </div>
          </div>
        </div>
      </div>

      <div class="modal fade our-team myteamPopup" id="venkatpicModalPopup" tabindex="-1" role="dialog" aria-labelledby="venkatpicModalPopup" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <div class="team-block text-center">
                  <div class="image">
                      <img src="../../assets/images/VenkatPic.jpg" alt="VenkatPic">
                  </div>
                  <div class="title">
                    <h3>Venkat Bala</h3>
                  </div>
                  <div class="desig">
                    <h3>CTO</h3>
                  </div>
                  <div class="desc">
                    <p>Venkat Bala is the CTO (Chief Technology Officer) for Circular Drive. As the CTO, he advises and influences the strategic IT direction of Circular Drive through leveraging emerging technologies and best practices that exhibit the potential for improving execution, efficiency and effectiveness.Venkat is a successful IT senior executive with more than 22 years of experience leading teams of all sizes on complex and diverse IT projects and programs. He has served in a wide variety of positions, with a specialization in Enterprise Architecture, as well as emerging technologies, project/program management, human resources and strategic communication. As a results-driven senior executive, he is passionate about re-visioning complex challenges, taking Big Ideas forward, communicating them effectively and engineering innovative solutions, then motivating teams to execute successfully through insight, alignment with strategic goals and hands-on follow-through.</p>
                  </div>
                </div>
            </div>
          </div>
        </div>

        <div class="modal fade our-team myteamPopup" id="joeyfloresModalPopup" tabindex="-1" role="dialog" aria-labelledby="joeyfloresModalPopup" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="team-block text-center">
                    <div class="image">
                        <img src="../../assets/images/JoeyFlores.jpg" alt="JoeyFlores">
                    </div>
                    <div class="title">
                      <h3>Joey Flores</h3>
                    </div>
                    <div class="desig">
                      <h3>Head - Business Development</h3>
                    </div>
                    <div class="desc">
                      <p>Joey Flores has 20 years of experience across eight startups, including three successful acquisitions. As co-founder and CEO of Earbits, he raised $1.7M in capital from world-renowned investors and oversaw the development of 4-star products on web, Roku, iOS and Android. His marketing and partnership strategies, including deals with Google, Facebook, Roku and Hearst Corporation, resulted in the low- or no-cost acquisition of 15,000 bands, 600 record labels, 300,000 registered users and 500,000 mobile downloads. Flores led Earbits through acquisition by You42 in 2015.</p>
                    </div>
                  </div>
              </div>
            </div>
          </div>

          <div class="modal fade our-team myteamPopup" id="katysperryModalPopup" tabindex="-1" role="dialog" aria-labelledby="katysperryModalPopup" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <div class="team-block text-center">
                      <div class="image">
                          <img src="../../assets/images/KatySperry.jpg" alt="KatySperry">
                      </div>
                      <div class="title">
                        <h3>Katy Sperry</h3>
                      </div>
                      <div class="desig">
                        <h3>Strategic Sales Advisor</h3>
                      </div>
                      <div class="desc">
                        <p>Katy is a business strategist and social entrepreneur based in San Diego, California. She has worked on growth strategy and consulting projects all over the world. Previously, Katy was one of UberEATS’ early employees and built UberEATS sales organization in Seattle from the ground up, hiring, training, and managing the team to become top performers.</p>
                      </div>
                    </div>
                </div>
              </div>
            </div>

            <div class="modal fade our-team myteamPopup" id="chrisFrazierModalPopup" tabindex="-1" role="dialog" aria-labelledby="chrisFrazierModalPopup" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <div class="team-block text-center">
                      <div class="image">
                        <img src="../../assets/images/chris-frazier.jpg" alt="chrisfrazier">
                      </div>
                      <div class="title">
                        <h3>Chris Frazier</h3>
                      </div>
                      <div class="desig">
                        <h3>Director of Sales</h3>
                      </div>
                      <div class="desc">
                        <p>With over 25+ years of Sales and Marketing experience, Chris has helped more than 500 small businesses reach their goals. Chris specializes in systems of B2B sales teams, building, training and leading reps from cold calls to account management. As co-founder of Frazier Business Development, he has consulted single entrepreneurs to 40 year establish organization with 50+ employees. His practical formulas for sales production process has been responsible for double digit sales growth and stable client acquisition for a variety of industries and countless companies.
                        </p>
                      </div>
                    </div>
                </div>
              </div>
            </div>
  </div>
</div>


<!-- Footer -->
<app-main-footer></app-main-footer>
