.about-banner{background-image:url(../../assets/images/about-banner.jpg);background-position:left top;background-repeat:no-repeat;background-size:cover;min-height:586px;padding-top:226px}
.banner-title{font-size:40px;color:#333;line-height:40px;padding-bottom:17px;margin-bottom:0}
.banner-content{color:#333;line-height:22px}
.about-for-rider{padding:80px 0 400px; background-image:url(../../assets/images/about-for-rider.png);background-position:right 240px;background-repeat:no-repeat;background-size: 67%}
.title-format{color:#2C9984;font-weight:700;font-size:40px;padding-bottom:10px}
.text-format{line-height:22px;color:rgba(51,51,51,0.7);font-weight: 500;}
.about-for-driver{padding:75px 0 0;background-color:#F9F9F9;}
.about-for-driver figure{margin-bottom:0;margin-top:72px;}
.about-for-driver figure img,.about-watch-video figure img{width:100%}
.align-self-center{-webkit-align-self:center;align-self:center}
/* .about-watch-video{padding:40px 0;} */
.about-watch-video figure{margin-bottom:0;position: relative;}
.about-watch-video a{display:block;width:72px;height:72px;position:absolute;left:43%;top:36%;}
.close{position:absolute;width:24px;height:24px;border-radius:30px;text-shadow:none;opacity:1;background-color:#fff;right:-10px;top:-10px;line-height: 24px;}
.close:hover{opacity:1;background-color:#000;color:#fff}

.my-team{ padding: 135px 0 0;}
.our-team .heading{ padding-bottom: 40px;}
.our-team .title{ padding-top: 10px;}
.our-team .title h3{ color: #333; font-weight: 600; font-size: 16px; text-transform: uppercase;}
.our-team .image img{ border-radius: 100%; max-width: 100%; width: 200px;}
.our-team .desc{ margin-top: 20px;}
.our-team .desc p{ color: rgba(51,51,51,0.7); }
.our-team .desc span{ position: relative; color: rgba(51,51,51,0.7);}
/* .our-team .desc span::after{ position: absolute; bottom: 0; content: "...";} */
.our-team .read-more{ padding-top: 10px;}
.our-team .read-more button{ display: inline-block;
    width: 140px;
    height: 40px;
    background-color: #333;
    border-color: #333;
    line-height: 14px;
    padding: 0;
    font-size: 16px;
    color: #fff;}
.team-block.text-center{ margin-bottom: 40px;}
.myteamPopup .team-block{ padding: 20px;}
.myteamPopup .team-block .image img{ width: 150px;}
@media (max-width:991px){
    .about-for-rider{padding-bottom:80px;background-image:none; text-align: center;}
}
@media (max-width:767px){
    .our-team .team-block{ margin-bottom: 40px;}
}
@media (max-width:600px){
    .mr-bottom-50{margin-bottom:50px;}
}
/* @media (max-width:575px){
    .about-watch-video{padding:80px 0 0;}
} */
@media (max-width:420px){
    .about-banner{padding-top:200px}
}
